In [2]:
# This is a comment

import numpy as np

In [7]:
#Creating arrays
np.zeros(5) # Creates an array of five 0's.

array([0., 0., 0., 0., 0.])

In [8]:
np.zeros(10) # Creates an array of ten 0's.

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [9]:
np.ones(5) # Creates an array of five 1's.

array([1., 1., 1., 1., 1.])

In [10]:
np.ones(10) # Creates an array of ten 1's.

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [11]:
np.full(10,2.5) # Generates an array of an arbitrary value; this array will have the number 2.5 10 times.

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [14]:
a = np.array([1, 2, 3, 5, 7, 12]) # Creates an array out of a specific argument, and stores as variable a.
a # Displays the value for a.

array([ 1,  2,  3,  5,  7, 12])

In [15]:
a[2] # If we want to access an element in the array, for example the 3rd element.

3

In [16]:
a[0] # Since the 1 would be the zeroth element.

1

In [17]:
a[4] # Displays the fifth element in array a.

7

In [19]:
# You can also change elements in an array using the assignment operator:
a[2] = 10 # Changes the third element in an array to 10.
a

array([ 1,  2, 10,  5,  7, 12])

In [20]:
b = np.arange(10) # Creates an array from 0 to 9
b # The argument in the arange function is not included.

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [21]:
c = np.arange(3,10) # Creates an array from 3 to 9.
c

array([3, 4, 5, 6, 7, 8, 9])

In [22]:
d = np.linspace(0,1) # Generates an array of arbitrary numbers betweent he first and second parameter.
d

array([0.        , 0.02040816, 0.04081633, 0.06122449, 0.08163265,
       0.10204082, 0.12244898, 0.14285714, 0.16326531, 0.18367347,
       0.20408163, 0.2244898 , 0.24489796, 0.26530612, 0.28571429,
       0.30612245, 0.32653061, 0.34693878, 0.36734694, 0.3877551 ,
       0.40816327, 0.42857143, 0.44897959, 0.46938776, 0.48979592,
       0.51020408, 0.53061224, 0.55102041, 0.57142857, 0.59183673,
       0.6122449 , 0.63265306, 0.65306122, 0.67346939, 0.69387755,
       0.71428571, 0.73469388, 0.75510204, 0.7755102 , 0.79591837,
       0.81632653, 0.83673469, 0.85714286, 0.87755102, 0.89795918,
       0.91836735, 0.93877551, 0.95918367, 0.97959184, 1.        ])

In [23]:
f = np.linspace(0,1,11) # Generates an array with 11 elements from 0 to 1
f

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [24]:
g = np.linspace(0,100,11) # Generates an array with 11 elements from 0 to 100.
g

array([  0.,  10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])

In [25]:
#Multi-dimensional arrays
np.zeros((5,2)) # Generates an array of 0's with 5 rows and 2 columns

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [29]:
n = np.array([
    [1,2,3], # Row 0
    [4,5,6], # Row 1
    [7,8,9]  # Row 2
])
# Column:
#   0 1 2
n

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [31]:
# So, if we want to extract the number 2 from array n and assign a new value, 20;
n[0,1] = 20 # Extract from row 0, column 1.
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 7,  8,  9]])

In [32]:
n[0] # Use this if you want to access a specific row, this case row 0

array([ 1, 20,  3])

In [33]:
n[2] # Used to access the third row

array([7, 8, 9])

In [34]:
n[2] = [1, 1, 1] # This is how you reassign the last row as a row of 1's.

In [35]:
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 1,  1,  1]])

In [36]:
# Use the colon operator to get stuff from an entire row, when you're attempting to access a column.
n[:,1] # This will extract the second column.

array([20,  5,  1])

In [39]:
# You can assign the columns each a new value.
n[:,2] = [0,1,2] # This will assign it to the last column
n

array([[ 1, 20,  0],
       [ 4,  5,  1],
       [ 1,  1,  2]])

In [42]:
# Randomly Generated Arrays
np.random.seed(2) # Use this to generate the same random results between different computers.
np.random.rand(5,2) # This will generate an array with 5 rows and 2 columns with random numbers valued between 0 and 1.

array([[0.4359949 , 0.02592623],
       [0.54966248, 0.43532239],
       [0.4203678 , 0.33033482],
       [0.20464863, 0.61927097],
       [0.29965467, 0.26682728]])

In [43]:
np.random.seed(2) # Use this to generate the same random results between different computers.
100 * np.random.rand(5,2) # This will generate an array with 5 rows and 2 columns with random numbers valued between 0 and 100.

array([[43.59949021,  2.59262318],
       [54.96624779, 43.53223926],
       [42.03678021, 33.0334821 ],
       [20.4648634 , 61.92709664],
       [29.96546737, 26.68272751]])

In [45]:
# This next segment generates an matrix with 5 rows and 2 columns with random values from 0 to [less than] 100
np.random.seed(2)
np.random.randint(low=0, high=100, size=(5,2))

array([[40, 15],
       [72, 22],
       [43, 82],
       [75,  7],
       [34, 49]])

In [ ]:
# Element-wise Operations

In [46]:
a = np.arange(5)
a

array([0, 1, 2, 3, 4])

In [47]:
# Suppose you want to add a number to this array
a + 1

array([1, 2, 3, 4, 5])

In [48]:
# This is multiplying the values in an array:
a*2

array([0, 2, 4, 6, 8])

In [50]:
# This operation adds 10 a multiplied array, then raises it to power 2.
(10 + (a * 2)) ** 2

array([100, 144, 196, 256, 324], dtype=int32)

In [54]:
b = (10 + (a * 2)) ** 2/100
b

array([1.  , 1.44, 1.96, 2.56, 3.24])

In [55]:
# You can combine a and b
a + b

array([1.  , 2.44, 3.96, 5.56, 7.24])

In [57]:
# You can divide
a / b + 10

array([10.        , 10.69444444, 11.02040816, 11.171875  , 11.2345679 ])

In [60]:
# Comparison Operations
a

array([0, 1, 2, 3, 4])

In [59]:
# How to see if an element in an array is greater than or equal to 2:
a >= 2

array([False, False,  True,  True,  True])

In [61]:
b

array([1.  , 1.44, 1.96, 2.56, 3.24])

In [62]:
a > b

array([False, False,  True,  True,  True])

In [63]:
# This returns all elements of array a for which the comparison is true.
a[a > b]

array([2, 3, 4])

In [64]:
# Summarizing Operations
a

array([0, 1, 2, 3, 4])

In [65]:
a.min() # Returns the smallest element in the array

0

In [66]:
a.max() # Returns the largest element in the array

4

In [67]:
# The sum of all elements in the array
a.sum()

10

In [68]:
# You can compute the average
a.mean()

2.0

In [70]:
# Standard deviation
a.std()

1.4142135623730951

In [71]:
n.sum()

35

In [72]:
n.min()

0